@import url("https://fonts.googleapis.com/css2?family=Arimo:wght@400;500;600;700&display=swap");
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.3%;
}

body {
  font-size: 1.6rem;
  /* background-color: hsl(0, 0%, 20%); */
  background-color: hsl(0, 0%, 10%);
  font-family: "Arimo", sans-serif;

  line-height: 1.4;
  color: #ffffff;
}

.section {
  max-width: 1500px;
  width: 100%;
  margin: 3em auto;
}

.nav {
  background-color: hsl(0, 0%, 10%);
  max-width: 1200px;

  /* position: fixed;
  margin: 0% auto;
  left: 0;
  right: 0;
  top: 0; */

  z-index: 2;
  padding: 0em 1em;
  text-transform: capitalize;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.arrow {
  border: solid rgb(255, 255, 255);
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}
.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

ul {
  list-style: none;
}

.hover {
  background-color: hsl(0, 0%, 10%);

  width: fit-content;
  display: none;
}

.cc {
  display: flex;
  align-items: center;
  gap: 10px;
}

.cc:hover {
  color: green;
}

.cc:hover + .hover {
  display: block;
  position: absolute;
  padding: 1em 2em;
  margin-top: 2em;
  border-radius: 1em;
}

.nav > :nth-child(2) {
  display: flex;
  /* border: 1px solid white; */
  flex-basis: 500px;
  justify-content: space-between;
}

.nav > :nth-child(2) > :nth-child(n) {
  margin: 1em;
}
.child-three {
  padding: 1em;
  /* border: 1px solid white; */
  display: flex;
  align-items: center;
  /* flex-wrap: wrap; */
  /* justify-content: center; */
}

.child-three > :nth-child(1) {
  color: white;
  text-decoration: none;
  margin-right: 1em;
}

.child-three > :nth-child(2) {
  padding: 0.5em 1em;
  border-radius: 0.5em;
  background-color: #00a773;
  border: 1px solid hsl(161, 100%, 23%);
  color: black;
  font-weight: 500;
  font-size: 1.7rem;
}
.child-three > :nth-child(2):hover {
  background-color: hsl(161, 100%, 26%);
}

.main {
  /* margin-top: 5em; */
  padding: 0em 1em;
}
h1 {
  position: relative;
  /* z-index: 232; */
}

.section1 {
  background-color: hsl(161, 100%, 33%);
  text-align: center;
  border-radius: 2em;
  padding-top: 3em;
}

.image-hero {
  width: 100%;
}

.small-text {
  font-size: 1.4rem;
  font-weight: 100;
  font-size: #ffffff;
  padding: 0em 0.7rem;
}

.large-text {
  /* font-size: 9rem; */
  font-size: clamp(1rem, 9vw + 0.5rem, 9rem);
  line-height: 1;
  width: fit-content;
  margin: 0em auto;
}

.line-image {
  background-image: url(images/ine2.svg);
  background-repeat: no-repeat;
  width: 100%;
  background-position: bottom;

  padding-bottom: 3rem;
}

.btn1 {
  padding: 1em 2em;
  background-color: black;
  color: white;
  border: 1px solid black;
  border-radius: 1em;
  font-size: 2rem;
}

.btn1:hover {
  text-decoration: underline;
}

.section1 {
  margin-bottom: 2.5em;
}

.section2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;
  margin-bottom: 3em;
}
.images-section2 {
  max-width: 180px;
  width: 100%;
}

.section3 {
  text-align: center;
  margin-bottom: 1em;
}

.section3 > :first-child {
  font-size: 2rem;
  margin-bottom: 0.5em;
}

.section3 > :last-child {
  font-size: clamp(1rem, 5vw + 0.5rem, 5.5rem);
}
.section4 {
  /* padding: 1em; */
  border-radius: 1em;
  max-width: 1170px;
  margin-inline: auto;
}

.section4 > .grid-child {
  background-color: hsl(0, 0%, 20%);
  padding: 2em;
  border-radius: 1.5em;
}

.sec4-margin {
  margin-bottom: 1.5rem;
}

.sec4-image {
  position: relative;
  /* border: 1px solid white; */
}

.grid-child {
  margin-bottom: 2rem;
}

.jimmy-image {
  width: 100%;
}
.btn-learn {
  margin: 1em 0em 1em;
}

.sec4-image::before {
  content: "Featured";
  display: block;
  position: absolute;
  top: 15px;
  right: 5%;
  background-color: #ff3c78;
  padding: 0.5em 1em;
  border-radius: 0.5em;
  font-size: 1.6rem;
}

.child-one > .flexx > :nth-child(1) {
  font-size: 1.8rem;
}

.child-one > .flexx > :nth-child(2) {
  font-size: 4rem;
}
.child-one > .flexx > :nth-child(3) {
  font-size: 1.8rem;
}
.sec4-flex > .sec4-btn {
  padding: 0.5em 1em;
  font-size: 1.4rem;
  border-radius: 0.5em;
  color: #ffffff;
  background-color: hsl(0, 0%, 36%);
  border: 1px solid hsl(0, 0%, 26%);
}
.flexx {
  padding: 0px 2em 0px 1em;
}

.btn-learn {
  background-color: hsl(161, 100%, 26%);
  border: 1px solid hsl(161, 100%, 23%);
  color: #ffffff;
  padding: 1em 2em;
  border-radius: 1em;
  width: 100%;
  font-size: 2rem;
}

.btn-learn:hover {
  background-color: hsl(161, 100%, 23%);
  text-decoration: 2px underline;
}

.sms,
.cs1,
.cs2,
.cs3 {
  border-radius: 1em;
}

div.sms-image {
  position: relative;

  z-index: 1;
}

div.sms-image::before {
  content: "";
  display: block;
  position: absolute;
  top: -4%;
  right: -5%;
  width: 100px;
  height: 100px;
  background-image: url("images/course-element1.svg");
  background-repeat: no-repeat;
  background-position: cover;
  z-index: -1;
}

.margin-btm {
  margin-bottom: 3em;
}

.comming-soon1 {
  position: relative;
  z-index: 1;
}
.comming-soon1::before {
  content: "";
  background-image: url("images/course-element2.svg");
  background-repeat: no-repeat;
  position: absolute;
  top: -4%;
  left: -2%;
  z-index: -1;
  width: 90px;
  height: 100px;
}
.btn-learn.color {
  background-color: hsl(0, 0%, 10%);
  border-color: hsl(0, 0%, 0%);
}

.comming-soon2 {
  position: relative;
  z-index: 1;
}

.comming-soon2::before {
  content: "";
  background-image: url("images/course-element3.svg");
  background-repeat: no-repeat;
  position: absolute;
  top: -4%;
  left: -2%;
  z-index: -1;
  width: 100px;
  height: 100px;
}

.comming-soon3 {
  position: relative;
  z-index: 1;
}
.comming-soon3::before {
  content: "";
  background-image: url("images/course-element4.svg");
  background-repeat: no-repeat;
  position: absolute;
  top: -4%;
  right: -3%;
  z-index: -1;
  width: 100px;
  height: 100px;
}

.section5 {
  background-color: #a3e2f7;
  color: #1e1e1e;
  border-radius: 2em;
  margin: 5em 0em;
  padding: 2em 1em 1em 1em;
}
.sec5-flex-child-one {
  margin: 0 2em 2em 1rem;
}

.sec5-heading {
  font-size: 3.6rem;
  font-weight: 900;
  text-align: center;
  margin-bottom: 2rem;
}

.freshman-comments {
  font-size: 2.8rem;
  font-weight: 500;
  margin-bottom: 2rem;
  text-align: center;
}

.details {
  text-align: center;
}
.name {
  font-size: 2rem;
}

.profession {
  font-size: 1.6rem;
  font-weight: lighter;
}

.main-content {
  max-width: 1200px;
  width: 100%;
  margin-inline: auto;
  margin-bottom: 5rem;
}

.quote-image {
  padding: 1rem;
}

.freshman-image {
  width: 100%;
}

.sec5-flex-child-one {
  max-width: 600px;
}

.btn {
  padding: 1em 2em;
  font-size: 2rem;
  background-color: hsl(161, 100%, 33%);
  border-radius: 0.8em;
  border: 1px solid hsl(161, 100%, 33%);
  color: white;
}

.section6.section {
  background-color: hsl(0, 0%, 20%);
  border-radius: 2em;
  max-width: 1400px;
  padding: 2em 1em 1em 1em;
}
.sec6-child1 {
  max-width: 500px;
  width: 100%;
}

.sec6-child1 {
  margin-bottom: 2em;
}
.same-align {
  margin: 3em 0rem;
}

.same-align > :nth-child(n) {
  margin-bottom: 1rem;
}

.same-align > :nth-child(2) {
  font-weight: 900;
  font-size: 2.4rem;
}

.same-align > :nth-child(3) {
  font-size: 1.6rem;
}

.sec6-child1 > :nth-child(n) {
  margin-bottom: 2rem;
}

.sec6-child1 > :first-child {
  font-size: 4rem;
  font-weight: 600;
  line-height: 1.2;
}

.section7 {
  margin-top: 5em;
}

.grid-children > .grid-samee {
  max-width: 450px;
  width: 100%;
}

.grid-children > .grid-samee:first-child {
  font-size: 4rem;
}

.grid-children > :nth-child(n) {
  line-height: 1.5;
}
.grid-children > :first-child {
  font-size: 2.4rem;
  font-weight: 900;
  margin-bottom: 1rem;
}

.grid-children > :last-child {
  font-size: 1.8rem;
  font-weight: lighter;
  margin-bottom: 2em;
}

.section8.section {
  color: black;
  padding: 4em 1em 4em 1em;
}

.sec8-heading {
  font-size: 4.2rem;
  line-height: 1;
  letter-spacing: -1.1;
  font-weight: bolder;
  margin-bottom: 1.3em;
}

.same-margin-heading {
  max-width: fit-content;
  width: 100%;
  margin-inline: auto;
}

.sec8-heading > :nth-child(2) {
  margin-bottom: 0.5em;
}

.sec8-img {
  max-width: 800px;
  width: 100%;
  margin-inline: auto;
  border-radius: 2em;
  overflow: hidden;
}

.se8-img {
  width: 100%;
}

.social-icons {
  display: flex;
  gap: 1em;
}

.fa-brands {
  background-color: black;
  font-size: 2rem;
}
.footer-text-container > :nth-child(n) {
  margin-bottom: 0.5em;
  font-weight: lighter;
}
.footer-text-container a {
  color: #ffffff;
  text-decoration: none;
}

.footer-text-container a:hover {
  color: hsl(0, 0%, 80%);
}

.main-footer-section {
  padding: 4em 0em 2em 0em;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.main-footer-child {
  margin-bottom: 2em;
  font-size: 1.8rem;
  padding: 0rem 2rem;
}

.logo > :first-child {
  margin-bottom: 2em;
}

.copy-write {
  font-size: 1.4rem;
  font-weight: lighter;
  padding: 0rem 2rem;
}
.logo .copy-write {
  display: none;
}

.margin-self {
  /* margin-bottom: ; */
}
.green-heading {
  color: #00a773;
  margin-bottom: 1em;
}

/* ----------media-queries-------- */

@media only screen and (min-width: 500px) {
  .nav {
    position: fixed;
    /* max-width: 1200px; */
    margin: 0% auto;
    left: 0;
    right: 0;
    top: 0;
  }

  .sec5-heading {
    font-size: 4.2rem;
  }
}

@media only screen and (min-width: 770px) {
  .section4 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
  }

  .section4 > :first-child,
  .section4 > :last-child {
    grid-column: 1 / span 2;
  }

  .section4 > :first-child {
    display: flex;
    flex-direction: row-reverse;
  }
  div.sec4-image {
    /* flex-basis: 400px; */
    /* border: 1px solid white; */
    align-self: start;
  }

  div.flexxx {
    padding: 0em 0em 0em 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .grid-childd {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }

  .grid-child > :first-child > :nth-child(2) {
    font-size: 3rem;
  }

  .grid-childd > :first-child > :first-child {
    font-size: 1.7rem;
  }

  .grid-childd > :first-child > :nth-child(2) {
    font-size: 3rem;
  }
  .grid-childd > :first-child > :nth-child(3) {
    font-size: 1.6rem;
  }

  .grid-childd > :first-child {
    padding: 0;
  }

  .sec4-flex {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 5px 10px;
  }
  .sec4-flex > :nth-child(n) {
    flex-grow: 1;
  }

  .section4 > :last-child {
    display: flex;
  }

  .comming-soon1::before {
    top: -8%;
    left: -7%;
  }
  .comming-soon2::before {
    top: -7%;
    left: -9%;
  }
  .comming-soon3::before {
    top: -7%;
    right: -9%;
  }
  div.sms-image::before {
    top: -8%;
    right: -13%;
  }

  .sec5-heading {
    font-size: 5rem;
  }
  .freshman-comments {
    text-align: left;
  }
  .details {
    text-align: left;
  }

  .sec5-flex-container {
    display: flex;

    align-items: flex-start;
  }

  .sec5-flex-container > :nth-child(n) {
    flex-basis: 50%;
  }

  .main-content {
    padding: 3rem;
  }
  .sec5-flex-child-two {
    padding: 1rem;
  }
  .sec5-flex-child-two {
    padding: 1rem;
    align-self: flex-start;
  }
  .section {
    max-width: 1200px;
    width: 100%;
    margin-inline: auto;
  }

  .section.section1 {
    max-width: 1400px;
    width: 100%;
  }

  .section.section5,
  nav {
    max-width: 1400px;
    width: 100%;
    margin-inline: auto;
  }

  .sec6-child2 {
    display: flex;
    flex-wrap: wrap;
  }
  .same-align {
    flex-basis: 50%;
    align-self: flex-start;
  }

  .grid-children {
    padding: 1em;
  }

  .sec7-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0em 2em;
    align-items: flex-start;
  }

  .grid-children > .grid-samee:first-child {
    font-size: 4.8rem;
    line-height: 1.2;
  }

  .sec7-grid > :nth-child(1) {
    grid-column: 1 / span 2;
  }
  .sec7-grid > :nth-child((n + 1) + 1) {
    grid-column: 1 / span 2;
  }

  .sec8-heading {
    font-size: 4.5rem;
  }

  .logo .copy-write {
    display: block;
    margin-top: 2em;

    text-align: left;
    padding: 0;
  }

  .copy-write {
    display: none;
  }

  .main-footer-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1200px;
    width: 100%;
    margin-inline: auto;
  }
}

@media only screen and (max-width: 500px) {
  .nav {
    padding-top: 1em;
    justify-content: center;
  }
  .nav > :nth-child(3) {
    flex-basis: 100%;
    justify-content: center;
    gap: 15px;
    /* border: 1px solid white; */
    flex-wrap: wrap;
  }
  .nav > :nth-child(3) > :nth-child(2) {
    width: 100%;
  }
}

@media only screen and (max-width: 930px) {
  .nav {
    background-color: hsl(0, 0%, 10%);
    flex-wrap: wrap;
  }

  .nav > :nth-child(2) {
    flex-basis: 100%;
    order: 3;
    justify-content: space-evenly;
  }
  .nav > :nth-child(3) {
    justify-content: flex-end;
  }

  .nav > :nth-child(3) {
    width: auto;
  }
}

.sec4-flex > .sec4-btn {
  margin-bottom: 0.5em;
}

@media only screen and (min-width: 980px) {
  .grid-childd {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 1em;
  }
  .grid-childd > :nth-child(n) {
    flex-basis: 70%;
  }
  .color {
    font-size: 1.4rem;
  }
  .section4 > :last-child {
    grid-column: 1;
  }

  .sec4-flex {
    justify-content: start;
  }
  .sec4-flex > :nth-child(n) {
    flex-grow: 0;
  }
  div.sms-image::before {
    top: -8%;
    right: -14%;
  }

  .comming-soon1::before {
    top: -7%;
    left: -12%;
  }
  .comming-soon2::before {
    top: -9%;
    left: -13%;
  }
  .comming-soon3::before {
    top: -11%;
    right: -12%;
  }
  .sms-image::before {
    top: -10%;
    right: -21%;
  }

  .sec6-child1 {
    margin-top: 3rem;
  }
  .sec6-content {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }
  .sec6-content > :nth-child(n) {
    flex-basis: 50%;
  }

  .same-align > :nth-child(2),
  .same-align > :nth-child(3) {
    max-width: 200px;
    width: 100%;
  }
  .container {
    max-width: 1200px;
    width: 100%;
    margin-inline: auto;
  }

  .same-align {
    margin: 2em 0rem;
  }

  .sec7-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 4em 2em;
    align-items: flex-start;
  }

  .sec7-grid > :nth-child(1) {
    grid-column: 1;
  }
  .sec7-grid > :nth-child(4) {
    grid-column: 2;
  }
  .sec7-grid > :nth-child(5) {
    grid-column: 3;
  }

  .grid-children > .grid-samee:first-child {
    font-size: 5.2rem;
    line-height: 1.2;
  }
  .sec8-heading {
    font-size: 5.2rem;
  }
}
@media only screen and (max-width: 400px) {
  .sec4-image::before {
    top: 5px;
    right: 4%;
    font-size: 1.2rem;
  }
  .btn1 {
    font-size: 1.4rem !important;
  }

  .btn-learn {
    font-size: 1.4rem;
  }
}

@media only screen and (max-width: 500px) {
  .sec5-heading {
    font-size: 2.9rem;
  }

  .sec5-flex-child-one {
    margin: 0;
    font-size: 2.2rem;
    font-weight: 100;
  }
  .sec8-heading {
    font-size: 3rem;
    line-height: 1.5;
  }
  .main {
    margin-top: 1em;
    padding: 0em;
  }

  .section {
    border-radius: 0px;
  }

  .section4 > .grid-child {
    border-radius: 0px;
  }
  .section6.section {
    border-radius: 0px;
  }
  .flexx {
    padding: 0px;
  }

  .nav-element.child-three {
    justify-content: center;
  }
  .child-three > :nth-child(1) {
    padding: 0.5em 1em;
    border-radius: 0.5em;
    background-color: #00a773;
    border: 1px solid hsl(161, 100%, 23%);
    color: black;
    font-weight: 500;
    font-size: 1.7rem;
    margin: 0;
    flex-grow: 1;
    text-align: center;
  }

  .freshman-comments {
    font-size: 2rem;
  }
}

@media only screen and (min-width: 500px) {
  .main {
    margin-top: 10em;
  }
}

@media only screen and (min-width: 931px) {
  .main {
    margin-top: 5.5em;
    width: 100%;
  }
}
